
#color{
  background-color:#66fffb;
}

#pad{
  margin-top: 40px;
}

#top{
  margin-top: 70px;
}

#navtitle{
  font-size: 25px;
  color:#000000;
}

#navsize{
  font-size: 17px;
}

#image{
  float: left;
}

#para{
  text-align: center;
}

#port{
  margin-left:80px;
  margin-top: 30px;
}

#exp{
  margin-left:150px;
  margin-top:70px;
}

#pad{
  padding-right: 10px;
}


/* ---------- background modal ------------- */
.bank{
  background-color: #b0e0e6;
}

.grade{
  background-color: #4BFE78;
}

.con{
  background-color: #93BF96;
}

.pythonweb{
  background-color: #BBBBFF;
}

.pythonli{
  background-color: #FF4848;
}

.drem{
  background-color: #74FEF8;
}

.php{
  background-color: #ccff66;
}

.jsp{
  background-color: #ffcc66;
}